.hero__title {
  width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One', sans-serif;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title-second {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.hero__button {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 8px;
  line-height: 1.25;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;

  background-color: #ffffff;
  color: #d41443;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__button-accent {
  background-color: #d41443;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero__item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }
}

.hero__content-bottom--text {
  width: 114px;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;

  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}
.hero__content-top {
  position: relative;
}

.hero__content-bottom {
  position: relative;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__content-top {
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
