h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.products-section {    
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 80px;

}

.products-label {
    display: block;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFA5BA;

    margin-bottom: 15px;
}

.products-header {
    display: block;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #D41443;
}

.produts__list {

}

.product__card {
    position: relative;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 40px 40px 40px;
    border-radius: 24px;
}

.ice-cream {
    margin-top: 148px;
    background: #FFB8CA;

    &::before {
        content: url(../images/products/mobile/ice-cream-280.png);
        position: absolute;
        max-width: 280px;
        min-height: 280px;
        top: -140px;
        left: 0;
    }
}

.ice-coffee {
    margin-top: 140px;
    background: #F0D1A5;

    &::before {
            content: url(../images/products/mobile/ice-coffee-280.png);
            position: absolute;
            max-width: 280px;
            min-height: 280px;
            top: -140px;
            left: 0;
        }
}

.milkshakes {
    margin-top: 140px;
    background: #C2E297;

    &::before {
            content: url(../images/products/mobile/milkshakes-280.png);
            position: absolute;
            max-width: 280px;
            min-height: 280px;
            top: -140px;
            left: 0;
        }
}

.product__name {
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 70px;

    color: #FFFFFF;

    &::after {
        content: url(../images/products/dots.svg);
        position: absolute;
        top: 32px;
        right: 87px;
    }
}

.product__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 32px;

    color: #FFFFFF;

}

.product-info__bnt {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    background-image: url(../images/products/arrow-right.svg);

    &:focus,
    &:hover {
        cursor: pointer;

    }
}