.products-section {
  margin: 0 auto;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 80px;
}
@media screen and (min-width: 768px) {
  .products-section {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 60px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-section {
    min-width: 1280px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.products-label {
  display: block;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products-label {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1280px) {
  .products-label {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 1.17;
  }
}

.products-header {
  display: block;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .products-header {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products-header {
    font-size: 58px;
    line-height: 1.32;
  }
}

@media screen and (min-width: 768px) {
  .produts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 154px;
  }
}
@media screen and (min-width: 1280px) {
  .produts__list {
    margin-top: 261px;
  }
}

.product__card {
  position: relative;
  max-width: auto;
  padding: 160px 40px 40px 40px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .product__card {
    width: 224px;
    padding: 118px 32px 40px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .product__card {
    width: 395px;
    padding: 269px 75px 60px 75px;
  }
}

.ice-cream {
  margin-top: 148px;
  background: #FFB8CA;
}
@media screen and (min-width: 768px) {
  .ice-cream {
    margin-top: 0;
  }
}
.ice-cream::before {
  content: "";
  background-image: url(../images/products/mobile/ice-cream-280.png);
  background-size: 280px 280px;
  position: absolute;
  width: 280px;
  height: 280px;
  top: -140px;
  left: 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-cream::before {
    background-image: url(../images/products/mobile/ice-cream-280-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .ice-cream::before {
    content: "";
    background-image: url(../images/products/tablet/ice-cream-224.png);
    background-size: 224px 224px;
    width: 224px;
    height: 224px;
    top: -134px;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-cream::before {
    background-image: url(../images/products/tablet/ice-cream-224-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .ice-cream::before {
    content: "";
    background-image: url(../images/products/desktop/ice-cream-394.png);
    background-size: 394px 394px;
    width: 394px;
    height: 394px;
    top: -197px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-cream::before {
    background-image: url(../images/products/desktop/ice-cream-394-2x.png);
  }
}

.ice-coffee {
  margin-top: 140px;
  background: #F0D1A5;
}
@media screen and (min-width: 768px) {
  .ice-coffee {
    margin-top: 0;
  }
}
.ice-coffee::before {
  content: "";
  background-image: url(../images/products/mobile/ice-coffee-280.png);
  background-size: 280px 280px;
  position: absolute;
  width: 280px;
  height: 280px;
  top: -140px;
  left: 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-coffee::before {
    background-image: url(../images/products/mobile/ice-coffee-280-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .ice-coffee::before {
    content: "";
    background-image: url(../images/products/tablet/ice-coffee-224.png);
    background-size: 224px 224px;
    width: 224px;
    height: 224px;
    top: -134px;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-coffee::before {
    background-image: url(../images/products/tablet/ice-coffee-224-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .ice-coffee::before {
    content: "";
    background-image: url(../images/products/desktop/ice-coffee-394.png);
    background-size: 394px 394px;
    width: 394px;
    height: 394px;
    top: -197px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-coffee::before {
    background-image: url(../images/products/desktop/ice-coffee-394-2x.png);
  }
}

.milkshakes {
  margin-top: 140px;
  background: #C2E297;
}
@media screen and (min-width: 768px) {
  .milkshakes {
    margin-top: 0;
  }
}
.milkshakes::before {
  content: "";
  background-image: url(../images/products/mobile/milkshakes-280.png);
  background-size: 280px 280px;
  position: absolute;
  width: 280px;
  height: 280px;
  top: -140px;
  left: 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes::before {
    background-image: url(../images/products/mobile/milkshakes-280-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .milkshakes::before {
    content: "";
    background-image: url(../images/products/tablet/milkshakes-224.png);
    background-size: 224px 224px;
    width: 224px;
    height: 224px;
    top: -134px;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .milkshakes::before {
    background-image: url(../images/products/tablet/milkshakes-224-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .milkshakes::before {
    content: "";
    background-image: url(../images/products/desktop/milkshakes-394.png);
    background-size: 394px 394px;
    width: 394px;
    height: 394px;
    top: -197px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .milkshakes::before {
    background-image: url(../images/products/desktop/milkshakes-394-2x.png);
  }
}

.product__name {
  position: relative;
  display: block;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 70px;
  width: auto;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  .product__name {
    font-size: 30px;
    line-height: 1.15;
  }
}
.product__name::after {
  content: url(../images/products/dots.svg);
  position: absolute;
  top: 32px;
  right: 87px;
}
@media screen and (min-width: 768px) {
  .product__name::after {
    top: 32px;
    right: 67px;
  }
}
@media screen and (min-width: 1280px) {
  .product__name::after {
    right: 111px;
  }
}

.product__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  width: auto;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .product__text {
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .product__text {
    font-size: 16px;
  }
}

.product-info__bnt {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../images/products/arrow-right.svg);
}
.product-info__bnt:focus, .product-info__bnt:hover {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */