.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff5f6;
}

.footer-info {
  padding: 24px 20px 40px 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 21px 18px 40px 18px;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 16px 60px 16px;
  }
}

.footer-title {
  &__part1 {
    max-width: 232px;
    text-transform: uppercase;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.167;
    color: #ffa5ba;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      max-width: 340px;
      font-size: 26px;
      line-height: 1.145;
      letter-spacing: 0.04em;
      margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 480px;
      font-size: 30px;
      margin-bottom: 16px;
    }
  }

  &__part2 {
    max-width: 200px;
    text-transform: uppercase;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
    color: #d41443;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.145;
      letter-spacing: 0.06em;
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 480px;
      font-size: 58px;
    }
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    margin-top: auto;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.footer-soc-item:not(:last-child) {
  margin-right: 28.24px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 25px;
  }
}

.footer-soc-link {
  display: flex;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #fea5bb;
  fill: #ffffff;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    background-color: #d41443;
  }
}

.footer-tel {
  display: flex;
  justify-content: flex-end;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  &__text {
    color: #000000;
    margin-right: 2px;
  }

  &__number {
    color: #d41443;
  }
}

.footer-copyright {
  padding: 16px 90px 20px 90px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907e82;
  border-top: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding: 8px 90px 8px 90px;
  }
}
