<section class="about" id="about">
<div class="container">
    <p class="about-label">tradition and love</p>
<h2 class="about-title">how it’s made?</h2>
<div class="about-tablet">
<picture>
 <source srcset="./images/made/d-made-cow-1x.png 1x, 
  ./images/made/d-made-cow-2x.png 2x"
  media="(min-width: 1280px)">
 <source srcset="./images/made/t-made-cow-1x.png 1x, 
 ./images/made/t-made-cow-2x.png 2x"
  media="(min-width: 768px)">
  <source srcset="./images/made/m-made-cow-1x.png 1x, 
  ./images/made/m-made-cow-2x.png 2x"
  media="(max-width: 767px)">
<img  class="about-image" src="./images/made/d-made-cow-2x.png" alt="Cow">
</picture>



 <div class="about-text-button">
    <div class="about-text-background">
 <p class="about-text"> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
 <p class="about-top-text"> Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

 <div class="about-top-text__line">  Aliquam erat volutpat. Aenean accumsan.</div></p>
</div>
<details class="about-details">
     <summary class="btn list">Read more <svg  class ="btn-icon" width ="5" height ="8">
                    <use  href ="./images/icons.svg#icon-btn-vector"></use>
                </svg></summary> 
     <div class="about-details">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div> 
</details>
</div>
</div>
</div>
</section>

