<section class="contacts section-contacts" id="contacts">
  <div class="containers section">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact-list">
      <li class="contact-list_item">
        <p class="contact-list_text">CAFE</p>
        <div class="contact-about">
          <h3 class="contact-list_title">Chicago</h3>
          <p class="contact-list_about">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contact-time">
          <p class="contact-list_day">Monday - Friday</p>
          <p class="contact-list_time">06:00 AM - 10:00 PM</p>
          <p class="contact-list_day">Saturday - Sunday</p>
          <p class="contact-list_time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contact-adress">
          <a class="contact-list_info link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact-list_info link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contact-list_item">
        <p class="contact-list_text text-change">FOODTRUCK</p>
        <div class="contact-about">
          <h3 class="contact-list_title">Los Angeles</h3>
          <p class="contact-list_about">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contact-time">
          <p class="contact-list_day">Monday - Friday</p>
          <p class="contact-list_time">06:00 AM - 10:00 PM</p>
          <p class="contact-list_day">Saturday - Sunday</p>
          <p class="contact-list_time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contact-adress">
          <a class="contact-list_info link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact-list_info link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contact-list_item">
        <p class="contact-list_text">CAFE</p>
        <div class="contact-about">
          <h3 class="contact-list_title">New York</h3>
          <p class="contact-list_about">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contact-time">
          <p class="contact-list_day">Monday - Friday</p>
          <p class="contact-list_time">06:00 AM - 10:00 PM</p>
          <p class="contact-list_day">Saturday - Sunday</p>
          <p class="contact-list_time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contact-adress">
          <a class="contact-list_info link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact-list_info link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="btn-wrap">
      <li class="button-item">
        <button class="btn-location" type="button" data-modal-open>
          Our Locations
          <svg width="12" height="12">
            <use href="./images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
      <li class="button-item">
        <button class="button-franchise" type="button" data-modal-open>
          Franchise
          <svg width="12" height="12">
            <use href="./images/icons.svg#icon-btn-vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="svg-close" width="11" height="11">
        <use href="./images/icons.svg#icon-Vector2"></use>
      </svg>
    </button>
    <h1>Google Map</h1>
  </div>
</div>
<!-- <script src="./js/modal.js"></script> -->
