<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/main.min.css" />
  </head>
  <body>
    <footer class="page-footer">
      <div class="footer-info">
        <div class="footer-title">
          <div class="footer-title__part1">
            <p>homemade ice cream made</p>
          </div>
          <div class="footer-title__part2">
            <p>with passion</p>
          </div>
        </div>

        <div class="footer-contacts">
          <ul class="list footer-soc-list">
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://github.com"
                target="_blank"
              >
                <svg class="footer-soc-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://telegram.org/"
                target="_blank"
              >
                <svg class="footer-soc-icon" width="20.4" height="15.87">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.facebook.com"
                target="_blank"
              >
                <svg class="footer-soc-icon" width="9.35" height="20.4">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="footer-tel">
            <p class="footer-tel__text">Feel free to contact</p>
            <a class="link footer-tel__number" href="tel:+">
              <span>+61 (0) 383 766 284</span>
            </a>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        © 2019 - IceCream. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
