<!-- Gallery -->
<section class="gallery section">
  <div class="gallery__container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>

    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-11.jpg    1x,
            /src/images/gallery/ice-cream-11@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-11-tab.jpg    1x,
            /src/images/gallery/ice-cream-11-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-11-mob.jpg    1x,
            /src/images/gallery/ice-cream-11-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-11.jpg"
          alt="three ice-creams"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-10.jpg    1x,
            /src/images/gallery/ice-cream-10@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-10-tab.jpg    1x,
            /src/images/gallery/ice-cream-10-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-10-mob.jpg    1x,
            /src/images/gallery/ice-cream-10-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="/src/images/gallery/ice-cream-10.jpg" alt="ice-cream balls" />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-4.jpg    1x,
            /src/images/gallery/ice-cream-4@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-4-tab.jpg    1x,
            /src/images/gallery/ice-cream-4-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-4-mob.jpg    1x,
            /src/images/gallery/ice-cream-4-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-4.jpg"
          alt="dog and ice-cream"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-8.jpg    1x,
            /src/images/gallery/ice-cream-8@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-8-tab.jpg    1x,
            /src/images/gallery/ice-cream-8-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-8-mob.jpg    1x,
            /src/images/gallery/ice-cream-8-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="/src/images/gallery/ice-cream-8.jpg" alt="two ice-creams" />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-6.jpg    1x,
            /src/images/gallery/ice-cream-6@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-6-tab.jpg    1x,
            /src/images/gallery/ice-cream-6-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-6-mob.jpg    1x,
            /src/images/gallery/ice-cream-6-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-6.jpg"
          alt="girl and ice-cream"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-9.jpg    1x,
            /src/images/gallery/ice-cream-9@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-9-tab.jpg    1x,
            /src/images/gallery/ice-cream-9-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-9-mob.jpg    1x,
            /src/images/gallery/ice-cream-9-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="/src/images/gallery/ice-cream-9.jpg" alt="four ice-creams" />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-1.jpg    1x,
            /src/images/gallery/ice-cream-1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-1-tab.jpg    1x,
            /src/images/gallery/ice-cream-1-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-1-mob.jpg    1x,
            /src/images/gallery/ice-cream-1-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-1.jpg"
          alt="ice-cream in hands"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-12.jpg    1x,
            /src/images/gallery/ice-cream-12@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-12-tab.jpg    1x,
            /src/images/gallery/ice-cream-12-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-12-mob.jpg    1x,
            /src/images/gallery/ice-cream-12-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-12.jpg"
          alt="four frozen juices"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-5.jpg    1x,
            /src/images/gallery/ice-cream-5@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-5-tab.jpg    1x,
            /src/images/gallery/ice-cream-5-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-5-mob.jpg    1x,
            /src/images/gallery/ice-cream-5-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-5.jpg"
          alt="ice-creams in stand"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-3.jpg    1x,
            /src/images/gallery/ice-cream-3@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-3-tab.jpg    1x,
            /src/images/gallery/ice-cream-3-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-3-mob.jpg    1x,
            /src/images/gallery/ice-cream-3-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-3.jpg"
          alt="scoops of ice-cream"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-2.jpg    1x,
            /src/images/gallery/ice-cream-2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-2-tab.jpg    1x,
            /src/images/gallery/ice-cream-2-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-2-mob.jpg    1x,
            /src/images/gallery/ice-cream-2-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-2.jpg"
          alt="three ice-creams cones"
        />
      </picture>
    </div>
    <div class="gallery__item">
      <picture>
        <source
          srcset="
            /src/images/gallery/ice-cream-7.jpg    1x,
            /src/images/gallery/ice-cream-7@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-7-tab.jpg    1x,
            /src/images/gallery/ice-cream-7-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/gallery/ice-cream-7-mob.jpg    1x,
            /src/images/gallery/ice-cream-7-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/gallery/ice-cream-7.jpg"
          alt="girl and dog with ice cream"
        />
      </picture>
    </div>
  </div>
</section>
