<header class="header" id="home">
  <div class="containers container-position">
    <div class="circle"></div>

    <nav class="header__nav">
      <a href="#home">
        <picture>
          <source
            srcset="./images/hero/logo.png 1x, ./images/hero/logo-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/hero/logo-2x.png" alt="logo" />
        </picture>
      </a>

      <div class="main-nav">
        <ul class="main-nav__list list">
          <li class="main-nav__item">
            <a class="main-nav__link link" href="#home">Home</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="#advantages">About us</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="#about">How it’s made?</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="#products">Our products</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="menu">
        <button class="menu__close" type="button">
          <svg width="14" height="14">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <button data-modal-open class="menu__btn" type="button">Buy now</button>
        <ul class="menu__list list">
          <li class="menu__item">
            <a class="menu__link link" href="#home">Home</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link" href="#advantages">About us</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link" href="#about">How it’s made?</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link" href="#products">Our products</a>
          </li>

          <li class="menu__item">
            <a class="menu__link link" href="">Contact</a>
          </li>
        </ul>
      </div>

      <div class="main-nav__button">
        <button type="button" class="menu__open">
          <svg width="20" height="12">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <button data-modal-open class="header__btn" type="button">
          Buy now
        </button>
      </div>
    </nav>

    <section class="hero">
      <picture class="ice-cream__picture">
        <source
          srcset="
            ./images/hero/d-hero-icecream-1x.png 1x,
            ./images/hero/d-hero-icecream-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/hero/t-hero-icecream-1x.png 1x,
            ./images/hero/t-hero-icecream-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/hero/m-hero-icecream-1x.png 1x,
            ./images/hero/m-hero-icecream-2x.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/hero/d-hero-icecream-2x.png" alt="ice-cream" />
      </picture>

      <div class="hero__content-top">
        <div class="hero__content-left">
          <h1 class="hero__title">
            ice cream made with
            <span class="hero__title-second">passion</span>
          </h1>
          <ul class="hero__button-list list">
            <li class="hero__button-item">
              <a class="hero__button hero__button-accent link" href="#products"
                >Products</a
              >
            </li>
            <li class="hero__button-item">
              <a class="hero__button link" href="#about">How it’s made?</a>
            </li>
          </ul>
        </div>

        <ul class="hero__quantity-list list">
          <li class="hero__quantity-item">
            <p class="hero__quantity-number">16</p>
            <p class="hero__quantity-text">cafes</p>
          </li>

          <li class="hero__quantity-item">
            <p class="hero__quantity-number">23</p>
            <p class="hero__quantity-text">food trucks</p>
          </li>
        </ul>
      </div>

      <div class="hero__content-bottom">
        <picture>
          <source
            srcset="
              ./images/hero/d-hero-milk-1x.png 1x,
              ./images/hero/d-hero-milk-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/hero/t-hero-milk-1x.png 1x,
              ./images/hero/t-hero-milk-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img src="./images/hero/d-hero-milk-2x.png" alt="milk" />
        </picture>

        <div class="text-wraper">
          <p class="hero__content-bottom--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <picture>
            <source
              srcset="
                ./images/hero/d-arrow-right.png    1x,
                ./images/hero/d-arrow-right-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/t-arrow-right.png    1x,
                ./images/hero/t-arrow-right-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/hero/d-arrow-right-2x.png" alt="arrow-right" />
          </picture>
        </div>
      </div>

      <picture class="picture-girl">
        <source
          srcset="
            ./images/hero/d-hero-girl-1x.png 1x,
            ./images/hero/d-hero-girl-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/hero/t-hero-girl-1x.png 1x,
            ./images/hero/t-hero-girl-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <img src="./images/hero/d-hero-girl-2x.png" alt="girl" />
      </picture>
    </section>
  </div>
  <div data-modal class="backdrop is-hidden">
    <div class="modal-backdrop">
      <button data-modal-close type="button" class="modal-btn-close">
        <svg class="icon-close" width="20" height="20">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <form class="form">
        <h2 class="form__title">order form</h2>

        <label class="label">
          <span class="label__name"> Name</span>
          <input
            type="text"
            name="user-name"
            required=""
            class="label__input"
          />
        </label>

        <label class="label">
          <span class="label__name">Phone</span>
          <input type="tel" name="tel" required="" class="label__input" />
        </label>

        <label class="label">
          <span class="label__name">Email</span>
          <input type="email" name="email" required="" class="label__input" />
        </label>

        <label class="textarea">
          <span class="label__name">Comments</span>
          <textarea
            class="textarea__input"
            name="feedback"
            rows="8"
            placeholder="write the text"
          ></textarea>
        </label>

        <button type="submit" class="form__btn">send</button>
      </form>
    </div>
  </div>
</header>
