<section>
  <div class="reviews section containers">
    <div class="owl-carousel">
      <div class="item">
        <div class="inner-item">
          <picture class="reviews__picture">
            <source
              srcset="
                ./images/reviews/reviews-1-1x.png 1x,
                ./images/reviews/reviews-1-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-1-1x.png 1x,
                ./images/reviews/reviews-1-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-1-1x.png 1x,
                ./images/reviews/reviews-1-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/reviews/reviews-1-1x.png"
              alt="ice-cream"
              class="reviews__img"
            />
          </picture>
          <div class="slider__description">
            <svg class="slider__quotes">
              <use href="./images/icons.svg#icon-parentheses"></use>
            </svg>
            <div class="slider__wrapper">
              <p class="reviews__top-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="reviews__bottom-text">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="item">
        <div class="inner-item">
          <picture class="reviews__picture">
            <source
              srcset="
                ./images/reviews/reviews-2-1x.png 1x,
                ./images/reviews/reviews-2-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-2-1x.png 1x,
                ./images/reviews/reviews-2-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-2-1x.png 1x,
                ./images/reviews/reviews-2-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/reviews/reviews-2-1x.png"
              alt="ice-cream"
              class="reviews__img"
            />
          </picture>
          <div class="slider__description">
            <svg class="slider__quotes">
              <use href="./images/icons.svg#icon-parentheses"></use>
            </svg>
            <div class="slider__wrapper">
              <p class="reviews__top-text">
                For me this product was a God send as I can’t have dairy or soy
                at the moment due to breastfeeding elimination diet.
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="reviews__bottom-text">Linda, New York</p>
        </div>
      </div>
      <div class="item">
        <div class="inner-item">
          <picture class="reviews__picture">
            <source
              srcset="
                ./images/reviews/reviews-3-1x.png 1x,
                ./images/reviews/reviews-3-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-3-1x.png 1x,
                ./images/reviews/reviews-3-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-3-1x.png 1x,
                ./images/reviews/reviews-3-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/reviews/reviews-3-1x.png"
              alt="ice-cream"
              class="reviews__img"
            />
          </picture>
          <div class="slider__description">
            <svg class="slider__quotes">
              <use href="./images/icons.svg#icon-parentheses"></use>
            </svg>
            <div class="slider__wrapper">
              <p class="reviews__top-text">
                I tried the biscoff gelato and was i so impressed by how
                delicious and creamy it was! The fact it is also vegan is
                incredible. I highly recommend trying it!
              </p>
              <div class="slider__stripes"></div>
            </div>
          </div>
          <div class="slider__circle">
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
            <span class="slider__circle--icon"></span>
          </div>
          <p class="reviews__bottom-text">EBarbara, California</p>
        </div>
      </div>
    </div>
  </div>
</section>
