.section-contacts {
  background-color: #fff5f6;
  width: 100%;
  margin: 0 auto;
}
.contacts {
  background-image: linear-gradient(to bottom, #ffffff 20%, #fff5f6 20%);
}
.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}
.contact-adress {
  display: flex;
  flex-direction: column;
}
.contact-list_info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.contact-list_item .text-change {
  background-color: #c2e297;
}
.contact-list_text {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  background-color: #f0d1a5;
  height: 16px;
  padding: 1px 20px;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.87;
    padding: 13px 15px;
  }
}
.contact-list_item:not(:last-child) {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
    margin-bottom: 0;
  }
}
.contact-list_item {
  background-color: #ffffff;
  padding: 40px 32px;
  width: 280px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    width: 224px;
    height: 528px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 538px;
    padding: 40px 40px;
  }
}
.contact-list_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.contact-list_about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.contact-about {
  position: relative;
  margin-bottom: 48px;
}
.contact-list_about::after {
  content: '';
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #e1e1e1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(24px);
}
.contact-list_day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.contact-list_time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.contact-list_time:not(:last-child) {
  margin-bottom: 8px;
}

.contact-time {
  position: relative;
  margin-bottom: 48px;
}
.contact-list_time:last-child::after {
  content: '';
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #e1e1e1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(24px);
}

.button-item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 14px;
  }
}

.btn-location {
  width: 161px;
  height: 44px;
  background-color: #d41342;
  border-radius: 22px;
  padding-left: 19px;
  padding-right: 17px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 191px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}
.button-franchise {
  width: 161px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    width: 174px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
  }
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
