.hero__title {
  width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One', sans-serif;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title-second {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__button-list {
  // display: none;

  @media screen and (min-width: 200px) {
    display: flex;
    align-items: center;
  }
}

.hero__button {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 8px;
  line-height: 1.25;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;

  background-color: #ffffff;
  color: #d41443;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__button-accent {
  background-color: #d41443;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero__button-item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }
}

.hero__content-bottom--text {
  width: 114px;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 7px;

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.hero__content-top {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    position: absolute;

    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.hero__content-left {
  position: relative;
}

.hero__content-bottom {
  display: inline-flex;
  align-items: center;

  position: absolute;
  bottom: 16px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    bottom: 60px;
  }
}

.text-wraper {
  flex-direction: column;
  align-items: center;
}

.hero__picture-icecrem {
  position: absolute;
  bottom: 0;
  right: 32px;
}

.picture-girl {
  position: absolute;
  bottom: 0;
  right: 32px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    right: 16px;
  }
}

.ice-cream__picture {
  position: absolute;
  bottom: 0;
  right: 32px;
  @media screen and (min-width: 768px) {
    right: 303px;
  }
  @media screen and (min-width: 1280px) {
    right: 408px;
  }
}

.hero__quantity-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: block;
}

.hero__quantity-item:not(:last-child) {
  margin-bottom: 16px;
}

.hero__quantity-number {
  position: relative;
  font-family: 'Titan One';
  font-size: 28px;
  line-height: 1.14;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  @media screen and(min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__quantity-text {
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;

  @media screen and(min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__quantity-item::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;

  position: absolute;
  right: 32px;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    right: 16px;
  }
}

.picture-milk {
  animation: milkRotate 3000ms infinite alternate backwards ease-in-out 2000ms;
}

@keyframes milkRotate {
  0% {
    transform: perspective(400px) rotateY(20deg);
  }

  100% {
    transform: perspective(400px) rotateY(-20deg);
  }
}

.milk-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.milk-btn.is-click {
  display: flex;
}
