.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;

  padding-top: 60px;
  background-color: #e17992;
  transform: translate(250px);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu.is-open {
  transform: translate(0);
}

.menu.is-open ~ .main-nav__button {
  display: none;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 44px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: #ffffff;
  color: #d41443;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.menu__btn::after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  background-image: url(../images/hero/vector.svg);
  background-size: contain;
  background-position: center;
  margin-left: 14px;
}

.menu__open {
  display: flex;
  border: none;
  margin-left: auto;

  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menu__link {
  display: inline-flex;
  align-items: center;
  text-indent: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  height: 42px;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover,
  &:focus {
    color: #d41443;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 11px;
}
