.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 45%, #ffffff 45%);
}

.gallery__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 16px;

  color: #d41443;
}

.container {
  width: 1280px;
  margin: 0 auto;
  columns: 6;
  gap: 5px;
  @include tablet {
    gap: 10px;
  }
  @include desktop {
    gap: 10px;
  }
}

.gallery__item {
  align-content: baseline;
  margin-bottom: 5px;
  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-bottom: 10px;
  }
  break-inside: avoid;
  transform: scale(1) translate(0, 0);
  transition: all 1s;
}

.gallery__item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  @include tablet {
    border-radius: 15px;
  }
  @include desktop {
    border-radius: 25px;
  }
}

.gallery__item:hover,
.gallery__item:focus {
  transform: scale(1.2) translate(-20px, -30px);
}
